.btn-red {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FF0000;
  transition: background 0.3s ease;
  display: inline-block;
  margin-top: 20px;
}

.btn-red:hover {
  opacity: 1;
  background: #E82C0C;
  text-decoration: none;
  color: white;
}

